modules = ["nodejs-20", "web", "bash", "python-base-3.13", "java-graalvm22.3", "postgresql-16"]

  [deployment]
  router = "application"
deploymentTarget = "autoscale"
run = ["bash", "scripts/start-production.sh"]
build = ["bash", "scripts/build-production.sh"]

  [deployment.postBuild]
  args = ["pnpm", "store", "prune"]
  env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/jatek-mobile: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EAS_UPDATE_CHANNEL=preview PORT=25896 pnpm --filter @workspace/jatek-mobile run preview"
waitForPort = 25896

[[workflows.workflow]]
name = "artifacts/jatek-landing: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/jatek-landing"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/jatek-landing run dev"
cwd = "./artifacts/jatek-landing"
waitForPort = 5000
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "5000"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/jatek-mobile: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/jatek-mobile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/jatek-mobile run dev"
cwd = "./artifacts/jatek-mobile"
waitForPort = 25896
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "25896"
BASE_PATH = "/mobile/"

[[workflows.workflow]]
name = "artifacts/backend-dashboard: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/backend-dashboard"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/backend-dashboard run dev"
cwd = "./artifacts/backend-dashboard"
waitForPort = 19167
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "19167"
BASE_PATH = "/admin/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080
ensurePreviewReachable = "/"
router = "path"

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/jatek-driver: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/jatek-mobile: web"

[[workflows.workflow]]
name = "artifacts/jatek-driver: expo"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8099 EXPO_PACKAGER_PROXY_URL=https://$REPLIT_EXPO_DEV_DOMAIN EXPO_PUBLIC_DOMAIN=$REPLIT_DEV_DOMAIN EXPO_PUBLIC_PROJECT_ID=$EXPO_PUBLIC_PROJECT_ID EXPO_PUBLIC_REPL_ID=$REPL_ID REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN pnpm --filter @workspace/jatek-driver exec expo start --lan --port 8099"

  [agent]
  stack = "BEST_EFFORT_FALLBACK"
expertMode = true
  integrations = ["twilio:1.0.0"]

  [postMerge]
  path = "scripts/post-merge.sh"
  timeoutMs = 20000

  [nix]
channel = "stable-25_05"
packages = ["eas-cli", "unzipNLS", "gir-rs"]

  [userenv]

  [userenv.shared]

  [userenv.development]
  EXPO_PUBLIC_DOMAIN = "ma.jatek.app"
TWILIO_VERIFY_SID = "VA48870bcbd6ed8274d1bd988d730059db"
TWILIO_FROM_NUMBER = "+15072600620"
INFOBIP_BASE_URL = "w4kgd8.api.infobip.com"
EXPO_PUBLIC_OWNER = "jatekapp"
EXPO_PUBLIC_SLUG = "jatek"
EXPO_PUBLIC_PROJECT_ID = "73e947fb-0a5a-4064-aafe-c856e231c9d4"
VAPID_PRIVATE_KEY = "CepGJ21FnGHCxtMSTn9uujjKuGVRWT7guRY2-iDTBlQ"
VAPID_PUBLIC_KEY = "BKdEq8KVX9EuyJ4hlkeOTiXCgfwLyff2DorTnKQIgJY3YuDamX2kliSO9pyG5dvFILYz3ymzdZVxntjZhaUph0I"
VAPID_SUBJECT = "mailto:admin@jatek.ma"

  [userenv.production]
  EXPO_PUBLIC_DOMAIN = "ma.jatek.app"
ALLOWED_ORIGINS = "https://c242aedf-c2ef-40b5-8095-e3992aa34a14-00-1y412fgtbqgy8.kirk.replit.dev,https://ma.jatek.app"
TWILIO_VERIFY_SID = "VA48870bcbd6ed8274d1bd988d730059db"
TWILIO_FROM_NUMBER = "+15072600620"
INFOBIP_BASE_URL = "w4kgd8.api.infobip.com"
EXPO_PUBLIC_OWNER = "jatekapp"
EXPO_PUBLIC_SLUG = "jatek"
EXPO_PUBLIC_PROJECT_ID = "73e947fb-0a5a-4064-aafe-c856e231c9d4"
VAPID_PRIVATE_KEY = "CepGJ21FnGHCxtMSTn9uujjKuGVRWT7guRY2-iDTBlQ"
VAPID_PUBLIC_KEY = "BKdEq8KVX9EuyJ4hlkeOTiXCgfwLyff2DorTnKQIgJY3YuDamX2kliSO9pyG5dvFILYz3ymzdZVxntjZhaUph0I"
VAPID_SUBJECT = "mailto:admin@jatek.ma"

  [objectStorage]
defaultBucketID = "replit-objstore-4d552e7f-5275-491d-bcf0-2a88ae31fb35"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8090
externalPort = 5000

[[ports]]
localPort = 18244
externalPort = 3000

[[ports]]
localPort = 18245
externalPort = 4200

[[ports]]
localPort = 25897
externalPort = 5173
